:root {
    --grey-color: #888;
    --blue-color: #0d69d5;
    --green-color: #22c55e;
    --yellow-color: #f59e0b;
    --red-color: #f44336;
}

/* box modle */
.d-flex {
    display: flex;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-bettwen {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.f-direction-column {
    flex-direction: column;
}

.f-left-top {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.f-left-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.f-left-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.f-center-top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.f-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-center-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.f-right-top {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.f-right-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.f-right-center {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.d-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.d-grid-200 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.gap-50 {
    gap: 50px;
}

.gap-30 {
    gap: 30px;
}

.gap-25 {
    gap: 25px;
}

.gap-20 {
    gap: 20px;
}

.gap-15 {
    gap: 15px;
}

.gap-10 {
    gap: 10px;
}

.gap-5 {
    gap: 5px;
}

/* width and height */

.w-full {
    width: 100%;
}

/* padding and margin */
.p-25 {
    padding: 25px;
}

.p-20 {
    padding: 20px;
}

.p-10 {
    padding: 10px;
}

.p-5 {
    padding: 5px;
}

.p-y-20 {
    padding: 20px 0;
}

.p-y-15 {
    padding: 15px 0;
}

.p-y-10 {
    padding: 10px 0;
}

.p-x-20 {
    padding: 0 20px;
}

.pb-15 {
    padding-bottom: 15px;
}

.m-20 {
    margin: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-20 {
    margin-left: 20px;
}

/* position */

.p-relative {
    position: relative;
}

/* backgound */

.bg-white {
    background-color: white;
}

.bg-blue-20 {
    background-color: rgb(0 117 255 / 20%);
}

.bg-yellow-20 {
    background-color: rgb(245 158 11 / 20%);
}

.bg-green-20 {
    background-color: rgb(34 197 94 / 20%);
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-yellow {
    background-color: var(--yellow-color);
}

.bg-green {
    background-color: var(--green-color);
}

.bg-gray {
    background-color: #eee;
}

/* font */

.c-black {
    color: black;
}

.c-white {
    color: white;
}

.c-gray {
    color: var(--grey-color);
}

.c-blue {
    color: var(--blue-color);
}

.c-yellow {
    color: var(--yellow-color);
}

.c-green {
    color: var(--green-color);
}

.c-red {
    color: var(--red-color);
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-25 {
    font-size: 25px;
}

.fs-32 {
    font-size: 32px;
}

.fw-700 {
    font-weight: 700;
}

.fw-400 {
    font-weight: 400;
}

/* border */
.rad-6 {
    border-radius: 6px;
}

.half-rad {
    border-radius: 50%;
}

.border-gray {
    border: 1px solid #ccc;
}

/* text-align */

.text-center {
    text-align: center;
}

.text-start {
    text-align: start;
}

.text-right {
    text-align: end;
}

.primary-btn {
    background-color: var(--blue-color);
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}
